<div>
    <h1>จัดส่งสินค้าเรียบร้อย</h1>
    <p>เราได้จัดส่งสินค้าของท่านสมาชิก <%= user.name %></p>
    <div>
        <h3>รายการสินค้า</h3>
        <ul>
            <% for(var i=0; i < cart.list.length; i++) 
                { %>
                    <li>
                      <td><%= cart.list[i].idProduct.spec[0].value %> จำนวน <%= cart.list[i].quantity %> </td>
                    </li>
                <% } 
             %>
        </ul>
    </div>
</div>